<div class="container-fluid mt-5">

    <div class="row justify-content-center">

        <div class="col-auto">

            <button class="btn btn-success" (click)="goToPedidos()" type="button">Ir a pedidos</button>

        </div>
        
        <div class="col-auto">

            <button class="btn btn-info" (click)="goToProductos()" type="button">Ir a productos</button>
            
        </div>

    </div>
    <div class="row justify-content-center mt-3">

        <div class="col-auto">

            <button class="btn btn-success" routerLink = "/uno/dos" type="button">Ir a 1.2</button>

        </div>
        
        <div class="col-auto">

            <button class="btn btn-info" routerLink = "/uno/tres" type="button">Ir a 1.3</button>
            
        </div>
        
        <div class="col-auto">

            <button class="btn btn-info" routerLink = "/uno/cuatro" type="button">Ir a 1.4</button>
            
        </div>

    </div>
  
    <router-outlet></router-outlet>

</div>